.text {
    text-align: center;
}

h1 {
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}

.card {
    padding-top: 10px;
    padding-bottom: 20px;
    border: 1px solid grey;
    margin-bottom : 15px;
}
div {
    padding: 10px;
}