body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 28px;
  color: #333;
  text-align: center;
  font-weight: bold;
}


.label {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #666;
  display: inline-block; 
  width: 150px; 
  margin-right: 20px; 
  text-align: left;
}


.getted {
  font-family: Arial, sans-serif;
  color: #333;
  display: inline-block; 
  text-align: left; 
  min-width: 150px; 
}


.data {
  padding: 20px;
  text-align: center;
  font-size: large;
}

button {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 40px;
}


button:hover {
  background-color: #555;
}

