.title{
    text-align: center;
    padding-bottom: 20px ;
    font-size: 30px;
    font-weight: bold;
}

.subtitle{
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}

.body{
    /* text-align: center; */
}

.card {
    padding-bottom: 20px;
    margin-top: 50px;
}
div {
    padding: 10px;
}

p{
    padding-top: 2%;
    text-align: end;
    font-weight: bold;
}