<h1> Past Games</h1>
<div *ngFor="let game of games">
    <mat-card class="card" *ngIf="game.homeScore">
        <mat-card-title class="header">
            {{game.date}}
        </mat-card-title>
        <mat-card-content>
            <b>{{game.homeTeam}}</b> <span class="score">{{game.homeScore}}</span>
            <mat-card-subtitle class="competition">
                {{game.competition}}
            </mat-card-subtitle>
            <b>{{game.awayTeam}}</b> <span class="score">{{game.awayScore}}</span>
            <button *ngIf="userType" class="cardButton" (click)="edit(game)">Edit game</button>
        </mat-card-content>  
    </mat-card>
</div>

<h1> Next Games</h1>
<div *ngFor="let game of games">
    <mat-card class="card" *ngIf="!game.homeScore">
        
        <mat-card-title class="header">
            {{game.date}}
        </mat-card-title>
        <mat-card-content>
            <b>{{game.homeTeam}} </b>
            <mat-card-subtitle>
                <span class="time"> {{game.time}}</span>
                <span class="competition2">{{game.competition}}</span>
            </mat-card-subtitle>
            <!-- <p class="competition">{{game.competition}} </p> -->
            <b>{{game.awayTeam}} </b>
            <button *ngIf="userType" class="cardButton" (click)="edit(game)">Edit game</button>
        </mat-card-content>
        
    </mat-card>
</div>


